body {
    background-image: url("../public/images/cool_bg.png");
    background-size: 1550px 700px;
    
}

#input1 {
    border-radius: 25px;
    margin-top: 153px;
    margin-left: 285px;
    width: 822px;
    height: 65px;
    border-color: gray;
    padding-left: 10px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    font-size: 25px;
     
}

input::placeholder{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

button{
    width: 120px;
    height: 72px;
    margin-top: 153px;
    size-adjust: 25px;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    background-color: grey;
    font-size: 25px;
}